{% load static %}

<div class="jumbotron">
<h5 class="text-center">VIP pricing </h5>
</div>

<div class="row">


<div class="col-md-4" align = "center">

  <h4 style="color:blue"> 30 days subscription</h4>
  <p> Kenya : Ksh. 1,000</p>
  <p> Nigeria : 4,000 Naira </p>
  <p> Uganda : Ush. 40,000 </p>
  <p> Tanzania : Tsh. 25,000</p>
  <p> USD : 10 USD </p>

</div>

<div class="col-md-4" align = "center">

  <h4 style="color:blue"> 14 days subscription</h4>
  <p> Kenya : Ksh. 500</p>
  <p> Nigeria : 2,000 Naira </p>
  <p> Uganda : Ush. 20,000 </p>
  <p> Tanzania : Tsh. 12,000</p>
  <p> USD : 6 USD </p>

</div>

<div class="col-md-4" align = "center">

  <h4 style="color:blue"> 6 days subscription</h4>
  <p> Kenya : Ksh. 250</p>
  <p> Nigeria : 1,000 Naira </p>
  <p> Uganda : Ush. 10,000 </p>
  <p> Tanzania : Tsh. 6,000</p>
  <p> USD : 3 USD </p>

</div>

</div>
