{% load static %}

<div class="jumbotron">
<h5 class="text-center">Premium Tips </h5>
</div>

<div class="row">
<div class="col-md-4" align = "center">
<div class="card border-success mb-4" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">About us</b></div>

  <div class="card-body text-success" align = "center">
  <p> Predict poa has been assisting punters in America, Europe, and Africa since 2009. Our experience in betting has helped us predict more accurate games. </p>


  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Predict Poa<b></div>
</div>
</div>

<div class="col-md-4" align = "center">
<div class="card border-success mb-4" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">Premium Tips</b></div>

  <div class="card-body text-success" align = "center">
<p> Premium Tips are meant for those who don't want to pick from our free tips. Our experience team provide them with four to five odds daily with accuracy of over ninety five percent. </p>


  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Predict Poa<b></div>
</div>
</div>

<div class="col-md-4" align = "center">
<div class="card border-success mb-4" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">How to join</b></div>

  <div class="card-body text-success" align = "center">
  <p> Before joining our premium tips, talk with our relations manager so that he can guide you appropriately. Our prices start with as low as 5 dollars.


  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Predict Poa<b></div>
</div>
</div>

</div>
