{% extends "base.html" %}

{% load static %}

{% block title %}

Predictpoa.com - Best Football Prediction in the world vip Tips Games

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if request.user.profile.state == 'vip' %}
<div class="container">
<h2 align = "center"> Request for today</h2>
<p>Kindly leave your comment here about our vip tips so that it can assist us get more people for us to deliver even better services. Just write your comment and make sure you are logged in to facebook</p>

<div class="fb-comments" data-href="https://predictpoa.herokuapp.com" data-numposts="6" data-order-by="reverse_time"></div>
</div>
{% include "loading_first_tips.html" %}

{% include "loading_previous_tips.html" %}

{% else %}

{% include "free/unsubscriped.html" %}

{% endif %}

{% else %}

  <p>You are not logged in</p>

  <a href="{% url 'login' %}">login</a>

{% endif %}


{% endblock %}
